In [9]:
# Python SQL toolkit and Object Relational Mapper
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy import Column, Integer, String, Float, Text, ForeignKey

In [10]:
# Create engine using the downloaded sqlite database file from kaggle

engine = create_engine("sqlite:///database.sqlite")

In [42]:
# Create the inspector and connect it to the engine. Reveal names of tables within database
inspector = inspect(engine)
inspector.get_table_names()

['artists', 'content', 'genres', 'labels', 'reviews', 'years']

In [12]:
#query database to get list from tables
artists = engine.execute('SELECT * FROM artists').fetchall()
genres = engine.execute('SELECT * FROM genres').fetchall()
labels = engine.execute('SELECT * FROM labels').fetchall()
reviews = engine.execute('SELECT * FROM reviews').fetchall()
years = engine.execute('SELECT * FROM years').fetchall()

#review text. Probably not needed.
content = engine.execute('SELECT * FROM content').fetchall()

In [53]:
artists_df['reviewid'].nunique()
artists_df['reviewid'].count()

18831

In [54]:
genres_df['reviewid'].nunique()
genres_df['reviewid'].count()

22680

In [55]:
labels_df['reviewid'].nunique()
labels_df['reviewid'].count()

20190

In [56]:
reviews_df['reviewid'].nunique()
reviews_df['reviewid'].count()

18393

In [57]:
years_df['reviewid'].nunique()
years_df['reviewid'].count()

19108


Take each select * list from above to create dataframe. Merge all DF to one???

In [58]:
# set artist df and rename columns 
artists_df = pd.DataFrame(artists)
artists_df = artists_df.rename(columns = {0:'reviewid', 1:"artists"}).set_index('reviewid')
artists_df.head()

                 artists
reviewid
22703     massive attack
22721           krallice
22659       uranium club
22661            kleenex
22661            liliput

In [59]:
# set genres df and rename columns 
genres_df = pd.DataFrame(genres)
genres_df = genres_df.rename(columns = {0:'reviewid', 1:"genres"}).set_index('reviewid')
genres_df.head()

              genres
reviewid
22703     electronic
22721          metal
22659           rock
22661           rock
22725     electronic

In [60]:
# set label df and rename columns 
labels_df = pd.DataFrame(labels)
labels_df = labels_df.rename(columns = {0:'reviewid', 1:"labels"}).set_index('reviewid')
labels_df.head()

                      labels
reviewid
22703                 virgin
22721              hathenter
22659           static shock
22659     fashionable idiots
22661        kill rock stars

In [61]:
reviews_df = pd.DataFrame(reviews)
reviews_df = reviews_df.rename(columns = {0:'reviewid', 1:"title", 2: "artist", 3: "url", 4: "score", 5:"best_new_music",6: "author", 7: "author_type", 8:"pub_date", 9:"pub_weekday" ,10: "pub_day", 11:"pub_month", 12:"pub_year"}).set_index('reviewid')
reviews_df.head()

,title,artist,url,score,best_new_music,author,author_type,pub_date,pub_weekday,pub_day,pub_month,pub_year
reviewid,,,,,,,,,,,,
22703,mezzanine,massive attack,http://pitchfork.com/reviews/albums/22703-mezz...,9.3,0,nate patrin,contributor,2017-01-08,6,8,1,2017
22721,prelapsarian,krallice,http://pitchfork.com/reviews/albums/22721-prel...,7.9,0,zoe camp,contributor,2017-01-07,5,7,1,2017
22659,all of them naturals,uranium club,http://pitchfork.com/reviews/albums/22659-all-...,7.3,0,david glickman,contributor,2017-01-07,5,7,1,2017
22661,first songs,"kleenex, liliput",http://pitchfork.com/reviews/albums/22661-firs...,9.0,1,jenn pelly,associate reviews editor,2017-01-06,4,6,1,2017
22725,new start,taso,http://pitchfork.com/reviews/albums/22725-new-...,8.1,0,kevin lozano,tracks coordinator,2017-01-06,4,6,1,2017

In [62]:
years_df = pd.DataFrame(years)
years_df = years_df.rename(columns = {0:'reviewid', 1:"year"}).set_index('reviewid')
years_df.head()

            year
reviewid
22703     1998.0
22721     2016.0
22659     2016.0
22661     2016.0
22725     2016.0

### I don't know why this way did not work.

In [ ]:
# Declare a Base using `automap_base()`
### BEGIN SOLUTION
Base = automap_base()
### END SOLUTION

In [ ]:
# Use the Base class to reflect the database tables
### BEGIN SOLUTION
Base.prepare(engine, reflect=True)
### END SOLUTION

In [ ]:
# Print all of the classes mapped to the Base

Base.classes.keys()

In [ ]:
# Assign the classes to a variable by column header
Artists = Base.classes.artists
Content = Base.classes.content
Genres = Base.classes.genres
Labels = Base.classes.labels
Reviews = Base.classes.labels
Years = Base.classes.years

In [ ]:
# Create a session
### BEGIN SOLUTION
session = Session(engine)
### END SOLUTION

In [ ]:
# Use the session to query Demographics table and display the first 5 locations
### BEGIN SOLUTION
for row in session.query(Artists, Artists.reviewid, Artists.artist).limit(5).all():
    print(row)
### END SOLUTION