In [1]:
import pandas as pd

In [2]:
top_500_df = pd.read_csv('albumlist.csv')

In [3]:
top_500_df.loc[:,'Artist'].nunique()

289

In [4]:
top_500_df.loc[:,['Artist','Album']].groupby('Artist').count().sort_values('Album',ascending=False)

                                 Album
Artist
The Beatles                         10
Bob Dylan                           10
The Rolling Stones                  10
Bruce Springsteen                    8
The Who                              7
Radiohead                            5
U2                                   5
Led Zeppelin                         5
Elton John                           5
David Bowie                          5
Various Artists                      5
Stevie Wonder                        4
The Velvet Underground               4
The Smiths                           4
The Police                           4
Sly & The Family Stone               4
Pink Floyd                           4
Talking Heads                        4
The Byrds                            4
Steely Dan                           3
Jackson Browne                       3
The Clash                            3
Ray Charles                          3
Cream                                3
The Beach Boys                       3
Elvis Presley                        3
The Jimi Hendrix Experience          3
Randy Newman                         3
The Kinks                            3
Simon & Garfunkel                    3
...                                ...
Liz Phair                            1
Little Richard                       1
Hole                                 1
Linda Ronstadt                       1
Husker Du                            1
Iggy and The Stooges                 1
Ike & Tina Turner                    1
Jackie Wilson                        1
James Taylor                         1
Jane's Addiction                     1
Janet                                1
Janet Jackson                        1
Janis Joplin                         1
Jeff Buckley                         1
Jerry Lee Lewis                      1
Jethro Tull                          1
John Lee Hooker                      1
John Lennon                          1
John Lennon / Plastic Ono Band       1
John Mayall & The Bluesbreakers      1
John Prine                           1
Joy Division                         1
Kraftwerk                            1
L.L. Cool J                          1
LCD Soundsystem                      1
LaBelle                              1
Lauryn Hill                          1
Leonard Cohen                        1
Lil Wayne                            1
Massive Attack                       1

[289 rows x 1 columns]

In [5]:
genre_list = ['Rock','Pop','Funk / Soul', 'Blues', 'Jazz', 'Folk', 'World', 'Country', 'Classical', 'Stage & Screen', 'Reggae','Hip Hop','Electronic','Latin']
for genre in genre_list:
    top_500_df[genre] = 0

In [6]:
for index,row in top_500_df.iterrows():
    temp_string = str(row['Genre'])
    for genre in genre_list:
        if genre in temp_string:
            top_500_df.at[index,genre]=1

In [7]:
top_500_df[genre_list].sum().sort_values(ascending=False)

Rock              351
Funk / Soul        80
Pop                54
Electronic         45
Hip Hop            38
Blues              38
Country            35
World              35
Folk               35
Jazz               19
Reggae             12
Stage & Screen      8
Latin               5
Classical           1
dtype: int64

In [8]:
top_500_df['num_genres'] = 0
for index,row in top_500_df.iterrows():
    temp_genre_list = str(row['Genre']).split(',')
    top_500_df.at[index,'num_genres'] = len(temp_genre_list)

In [9]:
top_500_df.groupby('num_genres').count().loc[:,'Genre']

num_genres
1    345
2     99
3     28
4     18
5      5
6      3
7      2
Name: Genre, dtype: int64

In [10]:
[top_500_df['Year'].min(),top_500_df['Year'].max()]

[1955, 2011]

In [11]:
decades_list = ['1950s','1960s','1970s','1980s','1990s','2000s','2010s']
for decade in decades_list:
    top_500_df[decade]=0

In [12]:
for index,row in top_500_df.iterrows():
    year = row['Year']
    if year<1960:
        top_500_df.at[index,'1950s']=1
    elif year>1959 and year <1970:
        top_500_df.at[index,'1960s']=1
    elif year>1969 and year <1980:
        top_500_df.at[index,'1970s']=1
    elif year>1979 and year <1990:
        top_500_df.at[index,'1980s']=1
    elif year>1989 and year <2000:
        top_500_df.at[index,'1990s']=1
    elif year>1999 and year <2010:
        top_500_df.at[index,'2000s']=1
    elif year>2010:
        top_500_df.at[index,'2010s']=1

In [13]:
top_500_df[decades_list].sum().sort_values(ascending=False)

1970s    186
1960s    105
1980s     85
1990s     72
2000s     40
1950s     10
2010s      1
dtype: int64